@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <text>We don't have any movies yet</text>
}
else
{


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="table-secondary">
                    <td><a href="@Url.Action("Details",routeValues : new { @id = item.Id})">@item.Name</a></td>
                    <td>@item.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}