@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    var birthdate = Model.Bitrhdate.HasValue ? Model.Bitrhdate.Value.ToShortDateString() : "";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type : @Model.MembershipType.Name</li>
    <li>Birthdate : @birthdate</li>
</ul>

